/* Quill Editor */

.ql-container {
  border-color: transparent !important;
  padding: 8px;
}

.ql-editor {
  font-family: var(--font-base);
  font-size: 14px;
  line-height: 1.6;
}

.ql-editor:focus {
  outline: none;
}

.ql-toolbar {
  border-color: transparent !important;
}

.ql-toolbar .ql-formats button {
  margin: 2px;
  padding: 4px 6px;
  color: #636363 !important;
}

.ql-toolbar .ql-active {
  background-color: transparent;
}

.ql-container.ql-snow:focus-within {
  outline: none;
}

.ql-snow .ql-picker {
  background-color: transparent;
  outline: transparent;
  color: #636363 !important;
  font-family: var(--font-base);
}

.ql-snow .ql-picker-item {
  color: var(--color-white-1);
  border-radius: 2px;
}

.ql-snow .ql-picker-options {
  background-color: var(--color-black-5);
}

.ql-picker-options {
  border: 2px solid transparent !important;
}

.ql-container.ql-snow {
  outline: none;
  border-color: transparent !important;
}

.ql-picker-label {
  border-color: transparent !important;
  outline: none !important;
}

.ql-picker-label:focus,
.ql-picker-label:active,
.ql-picker-label:hover {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.ql-editor.ql-blank::before {
  content: attr(data-placeholder);
  color: #636363 !important;
  padding-left: 8px;
  pointer-events: none;
  font-style: normal;
}

/* Horizontal Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-black-5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
